{% extends 'base.html' %}

{% block title %} Crea una nueva publicación! {% endblock %}

{% block Contenido %}

<h1> Creá una publicación</h1>
<br><br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }} <!-- esto _p significa que cada campo de nuestro formulario va a estar "rodeado" de <p> 
                            Al _p se lo puede cambiar por ejmplo con un ur o table -->
       <button  type="submit" class="btn btn-secondary">Agregar</button> 
       <!--<input type="submit" value="Submit"> -->
</div>


{% endblock %}