{% extends 'base.html' %}

{% block carrusel %}

{% endblock %}

{% block title %} Elimina comentario! {% endblock %}

{% block Contenido %}
<h1> Confirmar eliminación</h1>
<div class="text-success">
    <hr>
</div>
<div class="text-center">
    <p class="alert alert-danger" role="alert">¿Está seguro que desea eliminar el comentario {{ comentario.id }}?</p>

    <div class="form-group">
        <form method="post" action="{% url 'Eliminar_comentario' comentario.id %}">
            {% csrf_token %}
        <button  type="submit" class="btn btn-danger">Eliminar</button> 
        <a href="{% url 'Inicio' %}" class="btn btn-danger">Cancelar</a>
    </div>
</div>

{% endblock %}