{% extends 'base.html' %}

{% block Contenido %}

  <div class="container mt-5">
    <h3 class="text-center">Publicaciones</h3>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for publicacion in object_list %}
        <div class="col">
          <div class="card mb-3">
              {% if publicacion.imagen %} 
                <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}" class="imagen-publicacion">                
              {% endif %}
            <div class="card-body text-center mb-3">            
              <h5 class="card-title ">{{ publicacion.titulo }}</h5>
              <p class="card-text" >{{ publicacion.cuerpo|truncatechars:200  }}</p>
              <a href="{% url 'Articulos' pk=publicacion.pk %}" class="btn btn-outline-primary">Ver Detalles</a>
              <br/><br/> 
              {% if publicacion.modificacion and publicacion.categorias.all %}    
              <p class="text-muted" > 
                <small> Última modificación: {{ publicacion.modificacion }}</small> <br>
                <small>Categoría: {{ publicacion.categorias.all|join:', ' }} </small> </p>
              {% endif %}
            </div>
          </div>
        </div>
      
      {% endfor %}
    </div>
  </div>

{% endblock %}





